.about-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 50px;
  color: $preset-color-white;
}

p{
  text-align: center;
  padding-top: 20px;
}

ul, li{
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
}

.moodboard, h2{
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  img{
    padding-top: 25px;
    width: 100%;
    height: auto;
  }
}
