.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
	padding: 30vh 0 25vh;
  background-color: $preset-color-black;
}

.menu-list{
  font-size: 50px;
  padding: 1rem;
  padding-left: 50px;
  // border-bottom: 4px dotted white;
  li{
    list-style-type: none;
    border-bottom: 4px dashed rgb(255, 255, 255, 0.5);
  }
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover{
  color: $preset-red-orange;
}

.marquee {
  background: black;
  color: white;
  transition: all 0.1s;
  margin-top: 50px;
  font: {
    family: sans-serif;
    size: 5vw;
    line-height: 60%;
    weight: bold;
  }
  text-transform: uppercase;
  overflow: hidden;
  // &.running .marquee__content{
  //   animation-play-state: running
  // }
  // &:hover .marquee__content {
  //   animation-play-state: running
  // }
  .marquee-text {
    padding: 0 2vw;
    white-space: nowrap;
    margin-bottom: 50px;
  }
        .marquee:before,
      .marquee:after {
        position: absolute;
        top: 0;
        width: 50px;
        height: 30px;
        content: "";
        z-index: 1;
      }
      .marquee:before {
        left: 0;
        background: linear-gradient(to right, #ccc 10%, transparent 80%);
      }
      .marquee:after {
        right: 0;
        background: linear-gradient(to left, #ccc 10%, transparent 80%);
      }
}

.marquee__content {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 30s linear infinite;
  // animation-play-state: paused;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

.sneakerhead{
  position: fixed;
  top: 300px;
  right: 50px;
  z-index: 999;
  height: 200px; 
  width: auto;
}