.main-header {
  padding: 30px 50px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

#home-text-link {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: $preset-color-white;
  font-size: 25px;
}

#nav-icon {
  font-size: 50px;
  text-decoration: none;
}