* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body{
  margin: 0;
  cursor: url(../images/giphy.gif), auto;
}

// img{
//   max-width: 100%;
// }

.site-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $preset-color-black;
}


// /* GLOBAL STYLES */ 
// * { 
//   box-sizing: border-box; margin: 0; padding: 0; } 
  
// body { background-color: #597bde; margin: 1.5em 0 2.5em; color: #202020; font-family: 'EB Garamond', serif; } 

// h1, h2, h3, h4, h5, h6 { font-family: 'Oswald', sans-serif; margin: 0.5em auto; } 

// a { text-decoration: none; display: block; margin-top: 1.5em; color: #140f2d; } 

// p { font-size: 1.15em; }