// safe fonts: Consolas - Font-family: Consolas, monaco, monospace.
// safe fonts: Courier New - Font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace.
// safe fonts: Helvetica - Font-family: Helvetica Neue, Helvetica, Arial, sans-serif.
//------
// google fonts:  Roboto / Koulen / Knewave

$preset-color-dark-brown: #34161d; 
$preset-color-white: #ffffff;
$preset-color-lemon-zing: #e6ffa0;
$preset-color-black: #000000;
