// safe fonts: Consolas - Font-family: Consolas, monaco, monospace.
// safe fonts: Courier New - Font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace.
// safe fonts: Helvetica - Font-family: Helvetica Neue, Helvetica, Arial, sans-serif.
//------
// google fonts:  Roboto / Koulen / Knewave

$preset-color-dark-brown: #34161d; 
$preset-color-white: #ffffff;
$preset-color-lemon-zing: #e6ffa0;
$preset-color-black: #000000;

$max-width: 800px;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$mb: 30px;

$grid-columns:      12;
$grid-gutter-width: 1.5rem;


// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );